@import "tailwindcss";
@import "@fontsource/alexandria";
@import "@fontsource/manrope";

@theme {
    --color-blue-real: #003089;
    --color-red-real:  #BB0012;
    --color-gray-real: #F3F3F3;
    --color-white-real: #ffff;
    --color-black-real: #434654;

    --font-sans: "Manrope", ui-sans-serif, system-ui;
    --font-manrope: "Manrope", sans-serif;
    --font-alexandria: "Alexandria", ui-sans-serif, system-ui, sans-serif;
}
