---
import content from '../../../data/site-home-content.json'
import type { Lang } from '../../../i18n/config.i18n'
import Button from '../../utils/Button.astro'

interface Props {
    lang: Lang
}


const { lang } = Astro.props

const data = content[lang].hero
---


<section id="hero"  class="bg-[url('/img/hero/hero_building.png')] bg-cover bg-center w-full h-screen"> 

    <div class="flex flex-col p-10 justify-start h-full bg-gradient-to-tr from-blue-real via-blue-real/80 to-transparent">        
        <div class="w-full flex justify-end">
            <img src="/logo_central america.png" class="w-75" alt="">
        </div>
        <div class="w-full xl:w-2xl text-left relative mt-30">
            <div class="absolute -top-6 left-0 w-24 h-1 bg-red-real rounded-full"></div>  
            <h1 class="text-white-real font-bold text-5xl xl:text-7xl">
                {data.title}
            </h1>
            <p class="text-gray-real text-2xl mt-10">
                {data.subtitle}
            </p>
            <div class="mt-10">
                <Button color='red-real' label={data.buttonAccion}/>
            </div>
        </div>
    </div>

</section>