---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - No encontrado" lang="es">
  <section class="h-screen flex flex-col justify-center items-center text-center p-5">
    <h1 class="text-9xl font-black text-gray-200">404</h1>
    <p class="text-2xl font-bold text-gray-800 mt-4">¡Ups! Pages not fuond</p>
    <p class="text-gray-500 mt-2 mb-8">The page or language does not exist.</p>
    <a 
      href="/es" 
      class="bg-blue-600 text-white px-8 py-3 rounded-full font-bold hover:bg-blue-700 transition"
    >
      Return to the beginning
    </a>
  </section>
</Layout>