---
import { ui } from "../../i18n/ui.i18n";
import { getLangFromUrl, useTranslations } from '../../i18n/utils.i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="w-full border-t-4 border-t-red-real bg-blue-real py-8 px-6 mt-10">
  <div class="max-w-7xl mx-auto flex flex-col items-center justify-center">
    <div class="flex mb-20">
      <a href={`/${lang}/`} class="flex items-center gap-2 transition hover:opacity-80 w-45 ">
        <img class="w-full" src="/logo_real.png" class="w-10 h-10 object-contain" alt="Logo del sitio" />
      </a>
      <a href={`/${lang}/`} class="flex items-center gap-2 transition hover:opacity-80 w-45 ">
        <img class="w-full" src="/logo_central america.png" class="w-10 h-10 object-contain" alt="Logo del sitio" />
      </a>
    </div>
    <p class="text-sm font-medium text-white-real text-center">
      {t.footer.rights}
    </p>
  </div>
</footer>