---
import { getLangFromUrl, useTranslations } from '../../i18n/utils.i18n';
import ChangeLanguage from '../utils/ChangeLanguage.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="sticky top-0 z-50 w-full px-6 py-4 bg-white  backdrop-blur-md border-b border-gray-100">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    
    <a href={`/${lang}/`} class="flex items-center gap-2 transition hover:opacity-80 w-30 ">
      <img class="w-full" src="/logo_real.png" class="w-10 h-10 object-contain" alt="Logo del sitio" />
    </a>

    <div class="flex items-center gap-6 sm:gap-8">
      
      <ul class="flex items-center gap-6 text-sm font-medium text-gray-600">
        
        
      </ul>

      <div class="hidden sm:block w-px h-5 bg-gray-200"></div>

      <ChangeLanguage lang={lang}  />

    </div>
  </div>
</nav>