---
import { BedDouble, MapPin } from "lucide-astro";
import type { Project } from "../../domains/project.interface";

interface Props {
    project: Project;
}

const project = Astro.props.project

---


<div class="w-full flex flex-col">
    <div class="flex w-full object-cover relative">
        <img src={project.image} class="w-full" alt="">
        <div class="absolute right-0 bottom-0 bg-white-real text-blue-real font-bold text-2xl p-3 ">
            ${project.price}
        </div>
    </div>
    <div class="flex flex-col w-full gap-3 border-l-3 border-blue-real p-2">
        <h3 class="text-black-real font-bold text-2xl">
            {project.name}
        </h3>
        <p class="flex flex-row items-center">
            <MapPin size={15} />
            {project.location}
        </p>
        <div class="flex justify-between items-center">
            
            <div class="text-blue-real font-bold flex gap-2 items-center" >
                <BedDouble size={20} />
                <h4 class="text-black-real font-bold">
                    5 Beds
                </h4>
            </div>
            <div class="text-blue-real font-bold flex gap-2 items-center" >
                <BedDouble size={20} />
                <h4 class="text-black-real font-bold">
                    5 Beds
                </h4>
            </div>
            <div class="text-blue-real font-bold flex gap-2 items-center justify-center" >
                <BedDouble size={20} />
                <h4 class="text-black-real font-bold">
                    5 Beds
                </h4>
            </div>
        </div>
    </div>
</div>
        